#layout {
  display: flex;
  flex-direction: column;

}

#layout main {
  display: flex;
  flex-direction: column;
  height: 60vh;
}

#layout header{
  display: flex;
  flex-direction: column;
  height: 20vh;
  background: lightgray;

}

#layout footer {
  display: flex;
  flex-direction: column;
  height: 20vh;
  background: lightgray;

}