/* Main styling common to all pages */

.page-container main {
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: space-between;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19);
  width: 100vw;
  height: 5rem;
}

.backArrow,
.logo,
.homeButton {
  margin: 0.75rem;
  height: 3rem;
}

.homeButton {
  position: absolute;
  left: 4.5rem;
}

.logo {
  position: absolute;
  height: 4rem;
  top: -0.5rem;
  left: calc(50vw - 2.5rem);
}

.homeButton,
.backArrow {
  opacity: 0.6;
  transition: opacity 0.3s ease;
  cursor: pointer;
}

.homeButton:hover,
.backArrow:hover {
  opacity: 0.8;
}

.homeButton:active,
.backArrow:active {
  opacity: 0.7;
}

#homepage .link, #games .link {
  display: flex;
  justify-content: center;
  align-items:center;
  width: 70%;
  height: 5rem;
  background-color:#4682B4;
  margin: 1rem;
  font-size: 2rem;
  color: white;
  text-decoration: none;
  border: none;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  transition: transform 0.3s ease;
}

#homepage .link:hover, #games .link:hover {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19);
  transform: scale(1.05)
}

footer {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  left: 0;
  bottom: 0;
  font-size: 1rem;
  height: 3rem;
  padding: 1rem;
  color: white;
  background-color: rgba(0,0,0,0.5);
}

.answers {
  margin-bottom: 7rem;
}

.question {
  margin-top : 5rem;
}